#loading-screen {
    position: fixed;
    top: 0px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(229, 231, 235); // bg-gray-200
}

.dark #loading-screen {
    background-color: rgb(17, 24, 39); // bg-gray-900
}
