@tailwind base;
@tailwind components;
@tailwind utilities;

.text-link {
    @apply transition-colors text-emerald-900 dark:text-emerald-200 duration-200 hover:text-emerald-600 dark:hover:text-emerald-500;
}

.text-link-underline {
    @apply underline underline-offset-4 decoration-1 decoration-dashed hover:decoration-solid duration-200 decoration-emerald-900 hover:decoration-emerald-600 dark:decoration-emerald-100/80 dark:hover:decoration-emerald-200/80;
}

@layer utilities {
    .snap::-webkit-scrollbar {
        display: none;
    }

    .overflow-smooth {
        scroll-behavior: smooth;
    }

    .scrollbar-extra-thin {
        --scrollbar-track: initial;
        --scrollbar-thumb: initial;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
        overflow: overlay;
    }

    .scrollbar-extra-thin::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
    }

    .scrollbar-extra-thin::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
    }

    .scrollbar-extra-thin {
        scrollbar-width: thin;
    }

    .scrollbar-extra-thin::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 4px;
    }
}